@font-face {
    font-family: Ubuntu;
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Tagesschrift;
    src: url('/fonts/Tagesschrift-Regular.ttf') format('truetype');
}

@font-face {
    font-family: DellaRespira;
    src: url('/fonts/DellaRespira-Regular.ttf') format('truetype');
}

* {
    font-family: Ubuntu, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #232224;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.disabled {
    display: none !important;
}

* {
    color: white;
}

.tooltip {
    position: fixed;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.link-code {
    pointer-events: auto;
}

.info-region {
    pointer-events: auto;
}

.resource-bar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

.resource {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.resource img {
    width: 3em;
    height: 3em;
}

.commands-bar {
    position: absolute;
    right: 0;
    top: 0;
}

.command {
    font-family: monospace;
    font-size: 1.5em;
}

.queue-indicator {
    position: fixed;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.queue-indicator .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: white;
    border-radius: 2px;
}

.queue-indicator .queue-number {
    padding: 2px 6px;
    font-size: 24px;
    text-align: center;
    text-shadow: #000000 0 0 8px;
    background-color: #000000b0;
    border-radius: 50%;
    color: white;
}

#action-bar {
    position: fixed;
    bottom: 0;
    background: #00000030;
    padding: 4px;
    border-radius: 12px;
    pointer-events: auto;
}

#action-bar .button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#action-bar .input-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#action-bar .input-row .label {
    margin: 4px;
    color: white;
}

#action-bar .input-row * {
    color: black;
}

.action-button:hover {
    filter: drop-shadow(0 0 8px #a0d0ff);
}

.action-button {
    height: 4em;
    width: 4em;
    cursor: pointer;
    margin: 4px;
}

.main-menu {
    pointer-events: auto;
    display: flex;
    flex-flow: column nowrap;
}

.main-menu button {
    color: black;
}

.main-menu input {
    color: black;
}

.game-over {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    font-size: 72px;
    background-color: #00000080;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over.bad {
    font-family: Tagesschrift, serif;
    color: #910000;
}

.game-over.good {
    font-family: DellaRespira, serif;
    color: #ffb52a;
}
