html,
body {
    margin: 0;
    padding: 0;
    background-color: #232224;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.disabled {
    display: none;
}

* {
    color: white;
}

.tooltip {
    position: fixed;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.link-code {
    pointer-events: auto;
}

.info-region {
    pointer-events: auto;
}

.resource-bar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

.resource {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.resource img {
    width: 3em;
    height: 3em;
}

.commands-bar {
    position: absolute;
    right: 0;
    top: 0;
}

.command {
    font-family: monospace;
    font-size: 1.5em;
}

#action-bar {
    position: absolute;
    bottom: 0;
    background: #00000030;
    padding: 4px;
    border-radius: 12px;
    pointer-events: auto;
}

#action-bar .button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#action-bar .input-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#action-bar .input-row .label {
    margin: 4px;
    color: white;
}

#action-bar .input-row * {
    color: black;
}

.action-button:hover {
    filter: drop-shadow(0 0 8px #a0d0ff);
}

.action-button {
    height: 4em;
    width: 4em;
    cursor: pointer;
    margin: 4px;
}

.main-menu {
    pointer-events: auto;
    display: flex;
    flex-flow: column nowrap;
}

.main-menu button {
    color: black;
}

.main-menu input {
    color: black;
}
